.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newsSection{
  text-align: start;
  list-style: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: smaller;
}
.newsSection li{
  padding-top: 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
}
.newsSection a{
  color: wheat;
  text-decoration: none;
  
}
.newsSection li:hover{
  color: white;
  border: 1px dotted white;
  scale: 1.05;
}
.pagination{
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}
.searchfield{
  display: flex;
  gap: 1rem;
}
.commentlink{
  display: inline-block;
  margin: 0.4rem;
}
.commentlink:hover{
  color:rgb(76, 203, 242) !important;
}